# *pyc

# # **.pth
# # **.json
# # !**results.json
# # **merges.txt
# # **.bin
# # **.1670219734.ip-172-31-90-97.49245.0
# output/
# pretrain/
# data/
# .vscode/
# *.out
# wandb/
# visual/
# word*.json
# *DS_Store

*pyc
output/
pretrain/
data/
.vscode/
*.out
wandb/
visual/
word*.json
*DS_Store
*.ipynb
.ipynb_checkpoints/